# Core ML stack (MPS-compatible)
torch==2.2.2
torchvision==0.17.2

# Diffusion + HF stack
diffusers==0.25.1
transformers==4.36.2
huggingface_hub==0.25.2
accelerate==0.27.2
safetensors==0.4.5
sentencepiece==0.2.0

# Face swap stack
#insightface==0.7.3
#onnxruntime-silicon==1.17.1

# Utils
opencv-python-headless==4.10.0.84
Pillow==10.4.0
numpy==1.26.4
requests==2.32.3